<div class="main-wrapper">
    <div class="form-container">

        <form class="form">
            <p class="title">Password Change</p>
            <div class="input-group">
                <label for="password">New Password</label>
                <input type="password" name="password" id="password" placeholder="">
            </div>
            <div class="input-group">
                <label for="password">Confirmed Password</label>
                <input type="password" name="password" id="password" placeholder="">
            </div>
            <button class="sign">Submit</button>
        </form>
    </div>
</div>