<div class="main-wrapper">
    <div class="profile_background_img"></div>
    <div class="profile_img">
        <img src="./assets/Sharjeel.jpg" alt="" srcset="">
    </div>
    <div class="user_details">
        <h3>Sharjeel</h3>
        <p>Soft becha</p>
    </div>
    <div class="card_count">
        <div class="count">
            <label for="">Email</label>
            <p>Sharjeel@gmail.com <a href=""><img src="./assets/icons8-edit.svg" alt="edit--v3" /></a>
            </p>
        </div>
        <div class="btn">Edit</div>
    </div>
</div>